
body{
    padding: 50px;
    margin: 0px;
    background-color: rgb(5, 9, 18);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

.lolicon{
    position: fixed;
    bottom: 10px;
    height: 80px;
    left: 10px;
}

.botaotext{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    position: fixed;
    flex-direction: column;
}

.botaotext button{
    width: 100px;
    height: 50px;
    border: 2px solid rgb(0, 90, 130);
    color: rgb(200, 155, 60);
    background-color: rgb(10, 50, 60);
    border-left: none;
    font-size: 9px;
    display: flex;
    justify-content: center;
    border-radius: 0px 10px 0px 0px;
}
.botaotext button:hover{
    cursor: pointer;
    background-color: rgba(10, 50, 60, 0.637);
    color: rgba(200, 156, 60, 0.567);
}

.botaotext input{
    width: 300px;
    font-size: 20px;
    border: 2px solid rgb(0, 90, 130);
    border-right: none;
    background-color: rgb(13, 29, 58);
    color: white;
    border-radius: 10px 0px 0px 0px;
    padding: 10px;
}
.lorebotao{
    display: flex;
    
}

#botaotrocarskin{
    background-image: linear-gradient(to right, black 10%, rgb(200, 156, 60)) ;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#botaotrocarskin img{
    background-color: rgba(250, 235, 215, 0);
    border: none;
    width: 50px;
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 50%;
}
#botaotrocarskin:hover{
    scale: 1.05;
    border-radius: 10px 10px 10px 10px;
}

.nomebotaoenviar{
    display: flex;
    border-radius: 10px 0px 10px 0px;
    z-index: 1;
}

#opcoesbuscachamp{
    background-image:linear-gradient(to right,rgb(10, 50, 60),rgb(3, 151, 171)) ;
    padding: 10px;
    color: white;
    font-size: 40px;
    border: 2px solid rgb(0, 90, 130);
    border-top: none;
    width: 398px;
}
.Mostrardiv{
    height: 500px;
    overflow-y: scroll;
}
#opcoesbuscachamp div{
    border-bottom: 3px solid rgb(0, 90, 130);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

#opcoesbuscachamp div a{
    width: 300px;
}
#opcoesbuscachamp div img{
    display: flex;
    float: left;
    height: 100px;
    border-radius: 0% 50% 50% 0%;
    border: 4px black solid;
    border-left: 4px solid rgb(200, 155, 60);
}

